body {
	padding-top: 60px;
	padding-bottom: 40px;
	/*background: url("../images/fabric_plaid.png");*/
}
.sidebar-nav {
	padding: 9px 0;
}

.row-number-item , .action-item {
	width : 20px;
}

.form-actions {
	margin-bottom: 0px;
	border-bottom: 1px solid #DDD;
}

.cust-form {
	border : 1px solid #EEE;
}

legend span {
	padding-left: 45px;
}