<div ng-controller="ItemCtrl">
	<div class="row-fluid" >
    	<div class="span8">
      	<form class="form-horizontal cust-form">
		  	<fieldset>
			    <legend> <span> {{title}} </span> </legend>
			    <div class="control-group">
			      <label class="control-label" for="name" >Name:</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" ng-model="newItem.name" id="name">
			      </div>
			    </div>
			    <div class="control-group">
			      <label class="control-label" for="symbol" >Unit:</label>
			      <div class="controls">
			        <select class="input-xlarge" ng-model="newItem.unit" id="unit" 
			        	ng-options='unit.name for unit in units'></select>
			      </div>
			    </div>
			    <div class="control-group">
			      <label class="control-label" for="description">Category:</label>
			      <div class="controls">
			        <select class="input-xlarge" ng-model="newItem.category" id="category" 
			        	ng-options='cat.name for cat in categories'>
			        </select>
			      </div>
			    </div>
			    <div>
			    	<input type="hidden" name="_id" ng-model="newItem._id">
			    </div>
			    <div class="form-actions">
			    	<button type='submit' class='btn btn-primary'  ng-click='addItem(newItem)'> 
			    	<i class="icon icon-plus-sign"></i> {{statusText}}
			    	</button>
			    	<button ng-click='clear()' type='submit' class='btn '>
			    		<i class='icon icon-remove'></i>
			    		Clear
			    	</button>
			    </div>
		  	</fieldset>
		</form>
 		</div>
 	</div><!--/row-->
 	<div class='row-fluid'>
 		<div class='span6'>
 		<fieldset>
 			<legend>Items</legend>
             </fieldset>
 			<div class='toolbar_div'>
 				<a class='btn btn-primary' ng-click='itemEdit()'> <i class='icon icon-pencil'></i>  Edit</a>
 				<a class='btn btn-danger' ng-click='itemRemove()'> <i class='icon icon icon-remove'></i> Delete</a>
 			</div>
 			<table my-table
	            aa-data="items"
	        	ao-column-defs="columnDefs"
	        	fn-row-callback="myCallback"
	            class='table table-striped table-bordered'>
	            <thead>
	            <tr>
	            	<!-- <th>#</th> -->
	                <th>Name</th>
					<th>Unit</th>
					<th>Category</th>
	            </tr>
	            </thead>
	        </table>
 		
 		</div>
 	</div><!--/row-->
</div>

