 <div class="sidebar-nav list_view" id='nav_menu'>
  <div id="navigatingAccordion" class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#collapseOne" data-parent="#navigatingAccordion" data-toggle="collapse" class="accordion-toggle">
            <i class='icon-th icon-white pull-right'></i> Expenditure
          </a>
        </div>
        <div class="accordion-body collapse" id="collapseOne" >
          <div class="accordion-inner">
            <ul>
              <li> <a href="#expenses"><i class='icon-eye-open'></i>view</a></li>
              <li> <a href="#expense_reports"><i class='icon-th-list'></i>reports</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#unitsCollapse" data-parent="#navigatingAccordion" data-toggle="collapse" class="accordion-toggle">
           <i class='icon-th-list icon-white pull-right'></i> Units
          </a>
        </div>
        <div class="accordion-body in" id="unitsCollapse" >
          <div class="accordion-inner">
            <ul>
              <li><a href="#units"><i class='icon-eye-open'> </i>view</a> </li>
            <li><a href="#unit_reports"> <i class='icon-th-list'></i> reports </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#itemCollapse" data-parent="#navigatingAccordion" data-toggle="collapse" class="accordion-toggle">
           <i class='icon-th-list icon-white pull-right'></i> Item
          </a>
        </div>
        <div class="accordion-body collapse" id="itemCollapse" >
          <div class="accordion-inner">
            <ul>
              <li><a href="#items"><i class='icon-eye-open'> </i>view</a> </li>
            <li><a href="#item_reports"> <i class='icon-th-list'></i> reports </a></li>
            </ul>
          </div>
        </div>
      </div> 
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#itemCategoryCollapse" data-parent="#navigatingAccordion" data-toggle="collapse" class="accordion-toggle">
           <i class='icon-th-list icon-white pull-right'></i> Item Category
          </a>
        </div>
        <div class="accordion-body collapse" id="itemCategoryCollapse" >
          <div class="accordion-inner">
            <ul>
              <li><a href="#categories"><i class='icon-eye-open'> </i>view</a> </li>
            <li><a href="#category_reports"> <i class='icon-th-list'></i> reports </a></li>
            </ul>
          </div>
        </div>
      </div> 
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#userCollapse" data-parent="#navigatingAccordion" data-toggle="collapse" class="accordion-toggle">
           <i class='icon-th-list icon-white pull-right'></i> Users
          </a>
        </div>
        <div class="accordion-body collapse" id="userCollapse" >
          <div class="accordion-inner">
            <ul>
              <li><a href="#users"><i class='icon-eye-open'> </i>users</a> </li>
             
            </ul>
          </div>
        </div>
      </div>   
  </div>	
</div><!--/.well -->

