<div class="row-fluid" ng-controller="UnitCtrl">
    <div class="span5">
      	<form class="form-horizontal cust-form">
		  	<fieldset>
			    <legend> <span> {{title}} </span> </legend>
			    <div class="control-group">
			      <label class="control-label" for="name" >Name:</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" ng-model="newUnit.name" id="name">
			      </div>
			    </div>
			    <div class="control-group">
			      <label class="control-label" for="symbol" >Symbol:</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" ng-model="newUnit.symbol" id="symbol">
			      </div>
			    </div>
			    <div class="control-group">
			      <label class="control-label" for="description">Description:</label>
			      <div class="controls">
			        <input type="text" class="input-xlarge" ng-model="newUnit.description" id="description">
			      </div>
			    </div>
			    <div>
			    	<input type="hidden" name="_id" ng-model="newUnit._id">
			    </div>
			    <div class="form-actions">
			    	<button type='submit' class='btn btn-primary'  ng-click='addUnit(newUnit)'> 
			    	<i class="icon icon-plus-sign"></i> {{statusText}}
			    	</button>
			    	<button ng-click='clear()' type='submit' class='btn'>
			    		<i class='icon icon-remove'></i>
			    		Clear
			    	</button>
			    </div>
		  	</fieldset>
		</form>
 	</div>
 	<div class='span6'>
 		<fieldset>
 			<legend>Units</legend>
 			<div class='toolbar_div'>
 				<a class='btn ' ng-click='itemEdit()'> <i class='icon icon-pencil'></i>  Edit</a>
 				<a class='btn ' ng-click='itemRemove()'> <i class='icon icon icon-remove'></i> Delete</a>
 			</div>
			<table my-table
	            aa-data="units"
	        	ao-column-defs="columnDefs"
	        	fn-row-callback="myCallback"
	            class='table table-striped table-bordered'>
	            <thead>
	            <tr>
	            	<!-- <th>#</th> -->
	                <th>Unit</th>
					<th>Symbol</th>
					<th>Description</th>
	            </tr>
	            </thead>
	        </table>
 		</fieldset>
 	</div>
 </div><!--/row-->